<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnologia</title>
</head>
<body>
    <h1>Tecnologia</h1>

    <div>
        <article>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente corrupti quisquam assumenda, rerum molestiae doloremque repellat earum mollitia nam consectetur voluptatem laborum amet, minus quod? Sunt nihil amet quisquam facere.</p>
        </article>
    </div>
    <div>
        <ol>
            <li>Teste</li>
            <li>Teste</li>
            <li>Teste</li>
            <li>Teste</li>
        </ol>
    </div>
</body>
</html>